In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("covid19_italy_province.csv")
data.head()

,SNo,Date,Country,RegionCode,RegionName,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
1,1,2020-02-24T18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
2,2,2020-02-24T18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24T18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
4,4,2020-02-24T18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,0

In [3]:
data.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'ProvinceCode',
       'ProvinceName', 'ProvinceAbbreviation', 'Latitude', 'Longitude',
       'TotalPositiveCases'],
      dtype='object')

In [4]:
data.tail()

,SNo,Date,Country,RegionCode,RegionName,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
5115,5115,2020-04-03T17:00:00,ITA,5,Veneto,26,Treviso,TV,45.667546,12.245074,1657
5116,5116,2020-04-03T17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,1321
5117,5117,2020-04-03T17:00:00,ITA,5,Veneto,23,Verona,VR,45.438390,10.993527,2488
5118,5118,2020-04-03T17:00:00,ITA,5,Veneto,24,Vicenza,VI,45.547497,11.545971,1514
5119,5119,2020-04-03T17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,252